/*{border:1px solid red;}*/

html, body {
	height:100vh;
	padding:0;
	margin:0;
	border-radius:25px;
	webkit-box-sizing:border-box;
}
html {
	background-color:#fff;	
}

body {
	width:100%;
	margin:0;
	padding: 0;
	background-color: #fff;
}
.containerone {
	height:6%;
	column-width:auto;
	margin: 0;
	background:#fff;
	padding: 0;
	overflow:hidden;
	font-size:100%;
	border: none;
	overflow: hidden;
	align: center;
}
.container-center {
	height:100%;
	width:100vw;
	margin:0;
	padding:0;
	display:inline-block;
	text-align:center;
}
p.title {	
	font-size: 4vh;
	color: #5e5e5e;
}
p.title:hover {
	background-color:#003366;
	color: #fff;
}
/*.containerone, i {
	font-size: 35px !important;
	color:#003366;
	text-align:center;
	background: #fff;
	width:auto;
	overflow: hidden;
}*/
.left-col
{
	position: relative;
	float: left;
	margin-top:.5px;
	height:100%;
	width: 100%;
	padding: 0;
	display:inline-block;
	border: none;
	text-align: center;
}
.contacts-page {
	height: 100%;
	width: 100%;
}
span.fa.fa-search {
	font-size: 3vh;
}
.search {
	width:100%;
	height:5vh;
	background:#fff;
	position: relative;
	box-sizing: border-box;
}
form.searchbox {
	width:90%;
	height:5vh;
	display: none;
	margin: 0;
	border: none;
}
form.searchbox input[type=text], input.search-input {
  padding: 0 20px 0 12px;
  font-size: 100%;
  border: 1px solid grey;
  float: left;
  width: 40%;
  height:3vh;
  background: #fff;
  margin: 8px 0 0 20px;
  border-radius: 25px;
  display: inline-block;
}
form.searchbox button, form.search-button{
  float: left;
  width: 10vw;
  padding: 0;
  background: #fff;
  color: #5e5e5e;
  font-size: auto;
  border: 1px solid grey;
  border: none;
  cursor: pointer;
}
form.searchbox button:hover {
  background: #0b7dda;
}
.search-button {
	margin: 0 0 0 10px;
	background-color: #fff;
	color: #5e5e5e;
	border: none;
	cursor: pointer;
	float: left;
	height: 100%;
}
.search-button span:hover {
	background: #0b7dda;
}
form.searchbox::after {
  content: "";
  clear: both;
  display: table;
}
.group {
	display: inline-block;
	position: relative;
	float: none;
	margin: 0 50px 0 0;
	padding: 5;
	border: none;
}
.contacts-bottom {
	height: 100%;
	width: 100vw;
	border: none;
	padding: 0;
	margin: 0;
}
.contacts {
	width: 100%;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.user1 {
	display: inline-block;
	position: relative;
	float: none;
	margin: 0;
	padding: 20px;
	border: none;
}
.avatar {
	width:100px;
	height:100px;
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.call {
	width:100px;
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.presence {
	width:100px!important ;
}
.job-title {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px!important;
	font-weight:100;
	font-style: oblique;
	color: #003366;
}
.full-name {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px!important;
	font-weight:600;
	color: #5e5e5e;
	line-height: 2;
}
.refresh {
	display:inline-block; 
	border:none; 
	background:#fff; 
	color:#5e5e5e; 
	float:right;  
	height:100%; 
	margin:0 20px 0 0;
}
span.fa.fa-refresh {
	font-size: 3vh;
}
.title {
	height: 100%;
	margin: 0;
	font-size: 30px;
	display: inline-block;
	margin: 0;
	padding: 0;
	text-align: center;
}
p {
	padding: 0;
	margin: 0;
}